In [28]:
# loading libraries and reading the data
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:

#bangalore
yemalur = pd.read_csv("./Yemalur - Yemalur.csv")
itpl = pd.read_csv("./ITPL - ITPL.csv")
indiranagar = pd.read_csv("./Indiranagar100ft - Indiranagar100ft.csv")
mgroad = pd.read_csv("./mgRoadMetroStation - mgRoadMetroStation.csv")

#delhi
dlfcybercity = pd.read_csv("./DLFCyberCity - DLFCyberCity.csv")
igi = pd.read_csv("./IGI - IGI.csv")
indiagate = pd.read_csv("./IndiaGate - IndiaGate.csv")
shantiniketan = pd.read_csv("./Shantiniketan - Shantiniketan.csv")

In [8]:
yemalur.head()

,NO2,PM10,PM25,CO,SO2,OZONE,NOX,AQI,updatedAt,postalCode,lat,lng
0,10.67470,110.0,17.778255,0.754173,1.835252,14.8,20.254870,81,"Aug 03, 2019 7:08:42",560037,12.9690,77.7209
1,9.72870,110.0,16.309429,0.724662,1.887122,14.8,20.636496,79,"Aug 03, 2019 7:08:42",560037,12.9584,77.6794
2,8.75934,110.0,14.804393,0.694424,1.940271,14.8,21.027530,82,"Aug 03, 2019 7:08:42",560037,12.9446,77.6837
3,10.70910,110.0,17.831659,0.755246,1.833366,14.8,20.240994,79,"Aug 03, 2019 7:08:42",560037,12.9772,77.7019
4,9.74427,110.0,16.333599,0.725148,1.886268,14.8,20.630216,79,"Aug 03, 2019 7:08:42",560037,12.9592,77.6974

In [9]:
dlfcybercity.head()

,NO2,PM10,PM25,CO,SO2,OZONE,NOX,AQI,updatedAt,postalCode,lat,lng
0,25.3300,39.184308,46.884846,1.173860,7.937484,16.753895,85.354911,128,"Aug 03, 2019 7:08:42",122002,28.4720,77.0895
1,23.2069,42.371255,46.093160,1.088844,7.636215,15.986113,76.943811,125,"Aug 03, 2019 7:08:42",122002,28.4877,77.0869
2,25.5658,40.101344,47.375889,1.190756,7.494930,16.665603,85.890696,127,"Aug 03, 2019 7:08:42",122002,28.4879,77.0996
3,26.1171,44.161127,47.445573,1.221232,8.765521,13.454016,88.589299,128,"Aug 03, 2019 6:50:31",122002,28.4720,77.0895
4,24.7810,50.366518,48.925736,1.203294,8.355864,12.509806,83.391991,135,"Aug 03, 2019 6:50:31",122002,28.4877,77.0869

In [20]:
dlfcybercity.shape

(264, 12)

In [47]:
# Merging the dataframes
# Note that Cust_id is the common column/key, which is provided to the 'on' argument
# how = 'inner' makes sure that only the customer ids present in both dfs are included in the result
bangalore1 = pd.merge(yemalur, itpl, how='outer', on='updatedAt', sort = True)
bangalore2 = pd.merge(indiranagar, mgroad, how='outer', on='updatedAt', sort = True)
bangalore3 = pd.merge(bangalore1, bangalore2, how='outer', on='updatedAt', sort = True)
delhi1 = pd.merge(dlfcybercity, igi, how='outer', on='updatedAt', sort = True)
delhi2 = pd.merge(indiagate, shantiniketan, how='outer', on='updatedAt' , sort = True)
delhi3 = pd.merge(delhi1, delhi2, how='outer', on='updatedAt', sort = True)

In [48]:
bangalore3.head()

,NO2_x_x,PM10_x_x,PM25_x_x,CO_x_x,SO2_x_x,OZONE_x_x,NOX_x_x,AQI_x_x,updatedAt,postalCode_x_x,...,PM10_y_y,PM25_y_y,CO_y_y,SO2_y_y,OZONE_y_y,NOX_y_y,AQI_y_y,postalCode_y_y,lat_y_y,lng_y_y
0,11.8122,NaN,32.0,0.881489,2.022901,NaN,20.427163,89,"Aug 01, 2019 0:51:28",560037,...,40.0,19.0,0.250000,0.419847,11.66,NaN,66,560001,12.9797,77.5925
1,11.8122,NaN,32.0,0.881489,2.022901,NaN,20.427163,89,"Aug 01, 2019 0:51:28",560037,...,40.0,19.0,0.250000,0.419847,11.66,NaN,66,560001,12.9687,77.5875
2,11.8122,NaN,32.0,0.881489,2.022901,NaN,20.427163,89,"Aug 01, 2019 0:51:28",560037,...,NaN,32.0,0.924489,2.022901,NaN,21.771998,89,560001,12.9288,77.6764
3,11.8122,NaN,32.0,0.881489,2.022901,NaN,20.427163,89,"Aug 01, 2019 0:51:28",560037,...,40.0,19.0,0.250000,0.419847,11.66,NaN,66,560001,12.9780,77.6058
4,11.8122,NaN,32.0,0.881489,2.022901,NaN,20.427163,89,"Aug 01, 2019 0:51:28",560037,...,40.0,19.0,0.250000,0.419847,11.66,NaN,66,560001,12.9779,77.5926

In [34]:
bangalore3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35320 entries, 0 to 35319
Data columns (total 45 columns):
NO2_x_x           35320 non-null float64
PM10_x_x          32080 non-null float64
PM25_x_x          35320 non-null float64
CO_x_x            34440 non-null float64
SO2_x_x           35120 non-null float64
OZONE_x_x         30320 non-null float64
NOX_x_x           35320 non-null float64
AQI_x_x           35320 non-null int64
updatedAt         35320 non-null object
postalCode_x_x    35320 non-null int64
lat_x_x           35320 non-null float64
lng_x_x           35320 non-null float64
NO2_y_x           35320 non-null float64
PM10_y_x          32080 non-null float64
PM25_y_x          35320 non-null float64
CO_y_x            34440 non-null float64
SO2_y_x           35120 non-null float64
OZONE_y_x         30320 non-null float64
NOX_y_x           35320 non-null float64
AQI_y_x           35320 non-null int64
postalCode_y_x    35320 non-null int64
lat_y_x           35320 non-null float64
lng_y_x           35320 non-null float64
NO2_x_y           34660 non-null float64
PM10_x_y          33400 non-null float64
PM25_x_y          35320 non-null float64
CO_x_y            34660 non-null float64
SO2_x_y           35120 non-null float64
OZONE_x_y         32080 non-null float64
NOX_x_y           34660 non-null float64
AQI_x_y           35320 non-null int64
postalCode_x_y    35320 non-null int64
lat_x_y           35320 non-null float64
lng_x_y           35320 non-null float64
NO2_y_y           34480 non-null float64
PM10_y_y          35020 non-null float64
PM25_y_y          33040 non-null float64
CO_y_y            35200 non-null float64
SO2_y_y           35140 non-null float64
OZONE_y_y         31740 non-null float64
NOX_y_y           34480 non-null float64
AQI_y_y           35320 non-null int64
postalCode_y_y    35320 non-null int64
lat_y_y           35320 non-null float64
lng_y_y           35320 non-null float64
dtypes: float64(36), int64(8), object(1)
memory usage: 12.4+ MB

In [26]:
delhi3.shape

(84307, 45)

In [49]:
delhi3.set_index("updatedAt",inplace=True)
delhi3.index= pd.to_datetime(delhi3.index)
delhi3.sort_index(inplace=True)

In [51]:
bangalore3.set_index("updatedAt",inplace=True)
bangalore3.index=pd.to_datetime(bangalore3.index)
bangalore3.sort_index(inplace=True)

KeyError: 'updatedAt'